:root {
  --color-text: #2e2f42;
  --color-text-light: #ffffff;
  --color-hader: #4d5ae5;
  --color-link: #434455;
  --background-color: #ffffff;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: Roboto Raleway, sans-serif; */
  font-family: 'Roboto', sans-serif;
  background-color: #ccc;
  color: #2e2f42;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
ul,
li,
a,
p {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
}

/* приховати код */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
  margin: auto;
  background-color: var(--background-color);
}
.container {
  margin: 0 auto;
  padding: 0 12px;
  width: 1152px;
}
/* abotu_header */
/* fonts */
.logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  margin-right: 76px;
}
.logo-w {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-hader);
}
.logo-s {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-text);
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
}
.nav-link {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--color-hader);
}
.header-nav-link.current {
  color: var(--color-hader);
}
.current {
  color: var(--color-hader);
}
.kontakt {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
  margin-left: auto;
}
.kontakt-t, .kontakt-m {
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-link);
}
.kontakt-t:hover, .kontakt-m:hover,
.kontakt-t:focus, .kontakt-m:focus {
  color: var(--color-hader);
  fill: var(--color-hader);
}

/* decor */
.flex {
  display: flex;
}
.header {
  padding: 24px 0;
  background: #ffffff;
  border: 0.5px solid #f4f4fd;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
/* footer */
/* decor */
.footer {
  margin: 0 auto;
  padding: 100px 0px;
  background: #2e2f42;
}
.footer-flex {
  display: flex;
  gap: 120px;
}
.footer-container {
    width: 264px;
}
/* footer */
/* fonts */
.logo-footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 16px;
}
    .logo-w-footer {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.2;
        display: flex;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
        flex: none;
        order: 0;
        flex-grow: 0;
    }
    .logo-s-footer {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.2;
        display: flex;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #F4F4FD;
        flex: none;
        order: 1;
        flex-grow: 0;
    }
.footer-p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
.footer-h {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-text-light);
}
/* footer */
/* icons */
.footer-button {
  display: block;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}
.footer-button:hover, .footer-button:focus {
  background: #31D0AA;
}


/*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */
/* abotu-main */
/* hero */
/* decor */
.hero {
  padding-top: 192px;
  padding-bottom: 192px;
  background-color: #2e2f42;
  
  background-image: linear-gradient(to top, 
                  rgba(46, 47, 66, 0.7), 
                  rgba(46, 47, 66, 0.7 )),
                    url("../images/hero-back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1440px 600px;

  text-align: center;
}
/* hero */
/* fonts */
.hero-text {
  margin: 0;
  margin-bottom: 48px;
  font-weight: 500;
  font-size: 56px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: var(--color-text-light);
}
.hero-button {
  border: 1px solid transparent;
  font-family: inherit;
  padding: 16px 32px;
  cursor: pointer;
  background: #4D5AE5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--color-text-light);
}
.hero-button:hover,
.hero-button:focus {
  background: #404BBF;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
              0px 1px 1px rgba(46, 47, 66, 0.16), 
              0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 4px;
}
.hero-button:active {
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* skills */
/* decor */
.skills {
 padding-bottom: 0;
}
.skills-ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
}
.skills-button {
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F4F4FD;
  border-radius: 4px;
}
.skills-icon {
  width: 64px;
  height: 64px;
}
/* .skills-li::before {
  display: block;
  content:"";
  height: 112px;
  margin-bottom: 8px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  background: #F4F4FD;
  border-radius: 4px;
} */

/* skills */
/* fonts */
.skills-h {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-text);
}
.skills-p {
  margin: 0px;
  width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* promo */
/* decor */
.promo {
  padding-bottom: 120px;
}
.promo-photo {
  width: 360px;
  height: 300px;
}
/* promo */
/* fonts */
.promo-h {
  margin: 0px;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-text);
}
/* team */
/* decor */
.team {
  padding-bottom: 120px;
  background: #f4f4fd;
}
.team-li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-bottom: 32px;
  background: var(--background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
              0px 1px 1px rgba(46, 47, 66, 0.16), 
              0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
/* team */
/* fonts */
.team-h {
  margin: 0;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-text);
}
.team-li h3 {
  margin-top: 32px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-text);
}
.team-li p {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
}
/* team */
/* icon */
.flex-icon {
  display: inline-flex;
  gap: 24px;
}
.team-button {
  display: block;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
  background: #4D5AE5;
}
.team-button:hover, .team-button:focus {
  background: #404BBF;
}
/* customers */
/* decor */
.container-flex {
  display: inline-flex;
  gap: 24px;
}
/* customers */
/* fonts */
.container-h {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-text);
} 
/* customers */
/* icon */
.container-li {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 88px;

  fill: #8E8F99;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  border-color: #8E8F99;
}
.customers-icon {
  fill:inherit;
}
.container-li:hover, .container-li:focus {
  fill: #404BBF;
  border: 1px solid #404BBF;
  border-radius: 4px;
}
/*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */
/* PARTFOLIO */
.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
  margin: auto;
  background-color: var(--background-color);
}
/* button */
/* decor */
.filfers-button-ul {
  margin-bottom: 72px;
  display: flex;
  gap: 24px;
  align-items: flex-start;
  justify-content: center;
}
/* button */
/* fonts */
.filfers-button {
  cursor: pointer;
  font-family: inherit;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;

  font-weight: 500;
  font-size: 15px;
  color: #4d5ae5;
  letter-spacing: 0.04em;
}

.filfers-button:hover,
.filfers-button:focus {
  background: #4d5ae5;
  color: var(--color-text-light);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
              0px 2px 1px rgba(0, 0, 0, 0.08), 
              0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filfers-button:active {
  background: #4d5ae5;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
              0px 2px 1px rgba(0, 0, 0, 0.08),
              0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #222020;
}
/* Filter */
/* decor */
.filfers-bloc {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.projekts-section-bloc {
  box-sizing: border-box;
  width: calc((100% - 48px) / 3);
  background-color: var(--background-color);
  border: 0.5px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.projekts-section-bloc:hover {
  border: 0.5px solid #F4F4FD;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
            0px 1px 1px rgba(46, 47, 66, 0.16), 
            0px 2px 1px rgba(46, 47, 66, 0.08);
}
.container-text {
  padding: 32px 16px;
}
/* Filter */
/* fonts */
.container-text > h3 {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-text);
}
.projekts-section-p-top,
.projekts-section-p-top-v {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.projekts-section-p-top {
  opacity: 0;
}

.projekts-section-p-under {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
